/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.et-pb-all-modules .et_pb_paypal_button:before, .et_pb_saved_layouts_list .et_pb_paypal_button:before {    
   content: url('./paypalgrey.png');
}
.et-pb-all-modules .et_pb_paypal_button:hover::before,.et_pb_saved_layouts_list .et_pb_paypal_button:hover::before{
   content: url('./paypal.png');
}

#accounts-table {width:50%; float:right;}
form#paypal_for_divi_integration_form {
    float: left;
    width: 50%;
}