/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.et-pb-all-modules .et_pb_paypal_button:before, .et_pb_saved_layouts_list .et_pb_paypal_button:before { font-family: 'FontAwesome';  content: "\f1ed"; }
#accounts-table {width:50%; float:right;}
form#paypal_for_divi_integration_form {
    float: left;
    width: 50%;
}